*, 
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #06111a;
}

p {
  margin: 0;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.seperation {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.form-group {
  .form-label {
    color: #fff;
    font: normal 400 1.6rem sans-serif;
  }

  .form-control,
  .form-select,
  .form-multi-select__control,
  .toggle-password {
    border: none;
    border-radius: 0;
    background: transparent !important;
    border-bottom: 1px solid #fff;
  }

  .form-control,
  .form-select,
  .form-multi-select__control,
  .form-multiple-select__input {
    padding: .7rem 0 .7rem;
    
    color: #fff;
    font: normal 400 1.6rem sans-serif;

    &::placeholder {
      color: #43505a;
    }

    &:focus {
      color: #fff;
      background: transparent;
    }
  }

  .form-select {
    // arrow
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;

    option {
      padding: .5rem .5rem;
      color: white;
      background-color: #06111a;
    }
  }

  .form-multi-select {
    &__control {
      span {
        display: inline-block;
        max-width: 21ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #06111a;
      border-top: 0;
      border: .5px solid #ced4da;
      max-height: 220px;
      overflow-y: auto;
      z-index: 1000;
    }

    &__option {
      padding: .5rem .5rem;
      font: normal 400 1.6rem sans-serif;

      &:hover {
        background-color: #0078DF;
      }
    }
  }

  .form-upload {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #fff;

    &__img {
      max-width: 8rem;
    }

    .placeholder {
      background: transparent;

      &__img {
        width: 5rem;
      }
    }
  }

  .toggle-password {
    padding: 0;
    color: #fff;
    font-size: 1.2rem !important;
  }

  .invalid-feedback,
  .error {
    margin-top: 1rem;
    font: normal 400 1.4rem sans-serif;
  }
}