*, 
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.seperation {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pos-r {
  position: relative;
}






:root{
  --clr-bg-dark : #06111a;
  --clr-primary-light : #fff;
  --clr-secondary-redish : rgb(202, 1, 1);
}

.search--box{
  margin-left: 35% !important;
}

body{
  background-color: var(--clr-bg-dark) !important;
  overflow-x: hidden !important;
}


/*navbar===
===================================================*/
.ninja-icon{
  position: absolute;
  top: 15px !important;
  right: 7%;
}


/*favorite page======
=================================================================*/
.fav--movie--pic{
  width: 13rem;
  border-radius: 10px;
}
.fav--movie--info{
  color:#2c4050;
}
.fav--movie--info h2{
  color: var(--clr-primary-light) !important;
}
.fav--movie--info div:first-of-type span:first-child i{
  color: #e2bc29 !important;
}
.fav--movie--info div:first-of-type span:nth-child(2){
  background-color: #e2bc29;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  color:#2c4050 !important;
}
.react-rater-star {
  color: #5b6c7a !important;
}
.fav--movie--info div:nth-of-type(3) span{
  color: #a5baca !important;
  text-decoration: underline;
}
.fav--movie--info div:last-of-type p{
  max-width: 60ch;
  text-align: justify;
  margin-top: 20px;
}
.fav--movie--info button{
  background-color:transparent;
  color: var(--clr-primary-light) !important;
  border-radius: 25px;
  border : 1px var(--clr-primary-light) solid !important;
  padding: 1px 10px;
  outline: none;
}
.fav--movie--info button:first-of-type{
  padding: 4px 10px;
  border: none !important;
  background-color: var(--clr-secondary-redish);
}

.remove--favlist{
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  right: 10%;
}
.remove--favlist button{
  margin-left: 10px;
  border-radius: 25px;
}

/*watched list===
==================================================================*/
.watchedList{
  display: flex;
  flex-wrap: wrap;
  gap :15px;
  flex: start;
}
.remove--button--wishlist{
  position: absolute;
  margin-bottom: 50%;
  width: 16.4%;
  min-height: 40px;
  background-color:rgba(202, 202, 202, 0.226);
  border-radius: 10px;

  cursor: pointer;
}
.remove--button--wishlist i{
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  cursor: pointer;
}
/*Post movie=====
=====================================================================*/
.spacer{
   margin-top : 6%;
}
.thead--movie--table{
  background : #fff;
  margin-top : 15% !important;
}
.table td{
  vertical-align: middle !important;
}
.post-size-img{
  min-height:50px;
  width:70px
}
.buttons{
  position:absolute;
  right : 6.5%;
  top:15%
}
.buttons button{
  background-color : #fff;
  padding: 5px;
  margin-left : 5px;
  border-radius : 5px;
  border:none;
}
.form{
  margin-left : 0 !important;
  margin-top : 0 !important;
  border : 1px solid lightgray !important;
  color: #000 !important;
}
.form:focus{
  outline:none !important;
}