*, 
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

p {
  margin: 0;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.seperation {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pos-r {
  position: relative;
}

.form-label {
  color: #fff;
  font: normal 400 1.6rem sans-serif;
}

.form-control {
  border: none;
  border-radius: 0;
  background: transparent;
  padding: .7rem 0 .7rem;
  border-bottom: 1px solid #fff;
  
  color: #fff;
  font: normal 400 1.6rem sans-serif;

  &::placeholder {
    color: #43505a;
  }

  &:focus {
    color: #fff;
    background: transparent;
  }
}

.invalid-feedback,
.error {
  margin-top: 1rem;
  font: normal 400 1.4rem sans-serif;
}






:root{
  --clr-bg-dark : #06111a;
  --clr-primary-light : #fff;
  --clr-secondary-redish : rgb(202, 1, 1);
}

.search--box{
  margin-left: 35% !important;
}

body{
  background-color: var(--clr-bg-dark) !important;
  overflow-x: hidden !important;
}


/*navbar===
===================================================*/
.ninja-icon{
  position: absolute;
  top: 15px !important;
  right: 7%;
}

/*Post movie=====
=====================================================================*/
.spacer{
   margin-top : 6%;
}
.thead--movie--table{
  background : #fff;
  margin-top : 15% !important;
}
.table td{
  vertical-align: middle !important;
}
.post-size-img{
  min-height:50px;
  width:70px
}
.buttons{
  position:absolute;
  right : 6.5%;
  top:15%
}
.buttons button{
  background-color : #fff;
  padding: 5px;
  margin-left : 5px;
  border-radius : 5px;
  border:none;
}
.form{
  margin-left : 0 !important;
  margin-top : 0 !important;
  border : 1px solid lightgray !important;
  color: #000 !important;
}
.form:focus{
  outline:none !important;
}