.modal-content {
    width: 80%;
    margin: 0 auto;
    color: white;
    background-color: #06111a;
    
    .modal-header {
        .btn-close {
            border: none;
            filter: invert(1);
        }
    }

    .modal-body {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    .modal-footer {
        border-top: 0;

        button {
            padding: 1rem 2rem;
            font: normal 400 1.6rem sans-serif;
        }
}
}