@use '../../../styles/variables.scss' as vars;

.movieModal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                position: absolute;
                right: 0;
                z-index: 5;
                border: none;

                .btn-close {
                    border: none;
                    filter: invert(1);
                }
            }

            .modal-body {
                padding: 0;

                .movie-poster {
                    height: 30rem;
                    position: relative;
                    background-size: cover;
                    background-position: center top;
                    background-repeat: no-repeat;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0px;
                        z-index: 2;
                        background: linear-gradient(40deg, #06111a 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, #06111a 3.91%, rgba(6, 10, 23, 0) 69.26%);
                    }

                    h4 {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 3;
                        padding-left: 2.5rem;
                        color: vars.$clr-primary-light;
                        font: normal 400 4rem sans-serif;
                    }
                }

                .movie-details {
                    background: #06111a;
                    padding: 1rem 2.5rem 0;
                    color: vars.$clr-primary-light;

                    ul li {
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    p {
                        font: normal 400 1.2rem sans-serif;
                    }
                }
            }

            .modal-footer {
                border: none;
                padding: 2.5rem;
                background: #06111a;

                button {
                    padding: 1rem 2rem;
                    border-color: vars.$clr-secondary;
                    background-color: vars.$clr-secondary;
                    transition: all .3s ease;

                    &:hover {
                        background-color: rgb(184, 2, 2);
                    }
                }
            }
        }
    }
}